// Typography Variables
$transition-smooth: all 0.2s ease;
$transition-transform: transform 0.2s ease;
$transition-transform-2: transform 0.2s ease, box-shadow 0.2s ease;
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
