/* You can add global styles to this file, and also import other style files */

@import './app/styles/variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #5855eb; */
}