version: "3.9"

services:
  redis:
    image: redis:7.2
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command:
      ["redis-server", "--requirepass", "redis@123!", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:
