REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=3600
REDIS_DB=0


#Authentication Strategy
AUTH_STRATEGY=local

#Azure AD Configuration
MSAL_TENANT_ID=
MSAL_CLIENT_ID=
MSAL_CLIENT_SECRET=
ALLOW_USER_REGISTRATION=true


# Database Configuration
DATABASE_TYPE=
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DB_NAME=
 
# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_DAYS=
 
# Server Configuration
PORT=3000
NODE_ENV=development
 
# CORS Configuration
CORS_ORIGIN=http://localhost


#CORS_ORIGIN=https://kqlzd6g4-4200.inc1.devtunnels.ms/