@use '../../styles/colors' as *;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: $primary-gradient;
    margin: 0;
    padding: 0;
}



.leaderboard-container {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $bg-very-light;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.5rem $black-alpha-10;

    h1 {
        text-align: center;
        color: $text-gray;
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: $white;
        border-radius: 0.5rem;
        overflow: hidden;

        thead {
            background-color: $purple-primary;
            color: $white;

            th {
                padding: 1rem;
                text-align: left;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 0.875rem;
                letter-spacing: 0.05rem;
            }
        }

        tbody {
            tr {
                border-bottom: 0.0625rem solid $border-light;
                transition: background-color 0.2s;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: $bg-light-gray;
                }

                td {
                    padding: 1rem;
                    color: $text-lighter;
                    font-size: 1rem;

                    &:first-child {
                        font-weight: bold;
                        color: $purple-primary;
                        width: 3rem;
                    }
                }
            }
        }
    }

    .btn {
        margin-top: 1.5rem 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 50%;
        padding: 0.75rem;
        background-color: $purple-primary;
        color: $white;
        border: none;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: $purple-dark;
        }
    }
}

//animations

.github {
    z-index: 10000;
    bottom: 0.625rem;
    right: 0.625rem;
    position: fixed;
    border-radius: 0.625rem;
    background: $white;
    padding: 0 0.75rem 0.375rem 0.75rem;
    border: 0.0625rem solid $black;

    a {

        &:hover,
        &:link,
        &:visited,
        &:active {
            color: $black;
            text-decoration: none;
        }
    }

    img {
        height: 1.875rem;
    }

    #gh-project {
        font-size: 1.25rem;
        padding-left: 0.3125rem;
        font-weight: bold;
        vertical-align: bottom;
    }
}