// Leaderboard Styles

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: var(--primary-gradient);
  margin: 0;
  padding: 0;
}

.leaderboard-container {
  padding: var(--spacing-32);
  max-width: var(--size-640);
  margin: 0 auto;
  padding-top: var(--spacing-32);
  padding-bottom: var(--spacing-32);
  background-color: var(--bg-very-light);
  border-radius: var(--radius-12);
  box-shadow: 0 var(--spacing-4) var(--spacing-8) var(--black-alpha-10);

  h1 {
    text-align: center;
    color: var(--text-gray);
    margin-bottom: var(--spacing-24);
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-700);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: var(--radius-8);
    overflow: hidden;

    thead {
      background-color: var(--purple-primary);
      color: var(--white);

      th {
        padding: var(--spacing-16);
        text-align: left;
        font-weight: var(--font-weight-600);
        text-transform: uppercase;
        font-size: var(--font-size-14);
        letter-spacing: var(--spacing-2);
      }
    }

    tbody {
      tr {
        border-bottom: var(--spacing-2) solid var(--border-light);
        transition: background-color 0.2s;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: var(--bg-light-gray);
        }

        td {
          padding: var(--spacing-16);
          color: var(--text-lighter);
          font-size: var(--font-size-16);

          &:first-child {
            font-weight: bold;
            color: var(--purple-primary);
            width: var(--spacing-48);
          }
        }
      }
    }
  }

  .btn {
    margin-top: var(--spacing-24) 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-12);
    background-color: var(--purple-primary);
    color: var(--white);
    border: none;
    border-radius: var(--radius-8);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--purple-dark);
    }
  }
}
